<html>
<head>
    <title>Division Champions - <%= result[0].team %>, <%= result[0].year%></title>
</head>
<body>
    <h1>Division Champions - <%= result[0].year %></h1>
    <h3>Team:</h3>
    &nbsp&nbsp&nbsp   <a href="/team/?team_name=<%= result[0].team %>"><%= result[0].team %></a>
</body>

</html>