<html>
    <head>
        <title>Players</title>
    </head>
    <body>
        <h1>Players</h1>
        <a href="/player/add">Add New Player</a>
        <br />
        <br />

        <table border="1">
            <tr><th>Player</th><th>Number</th><th>Position</th><th>Injured</th><th>Team</th><th>Action</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/player/?first_name=<%= result[i].first_name %>&last_name=<%= result[i].last_name %>">
                            <%= result[i].first_name %> <%= result[i].last_name %></a></td>
                <td><%= result[i].player_num %></td>
                <td><%= result[i].position %></td>
                <td><%= result[i].injured %></td>
                <td><%= result[i].team %></td>
                <td>
                    <button onclick="event.preventDefault();window.location.href='/player/edit2/?first_name=<%= result[i].first_name %>&last_name=<%= result[i].last_name %>'">Edit</button>
                    <form action="/player/delete/" style="display:inline;">
                        <input type="hidden" name="first_name" id="first_name" value="<%= result[i].first_name %>" />
                        <input type="hidden" name="last_name" id="last_name" value="<%= result[i].last_name%>" />
                        <input type="submit" value="Delete"/>
                    </form>
                </td>
            </tr>
            <% } %>
        </table>
    </body>

</html>